.doc
    --bs-card-bg: #f9fafb
    --bs-card-border-width: 1px
    --bs-card-border-radius: 8px
    &:hover
        --bs-card-bg: #f3f4f6
    .media
        border: var(--bs-card-border-width) solid var(--bs-card-border)
        border-radius: var(--bs-card-border-radius)
        height: 2.5rem
        width: 2.5rem
    .btn
        font-size: $small-font-size