.section-docs
    .search
        background-color: $hero-background-color
        color: $hero-color
        padding: $spacer
        .pagefind-ui
            @extend .container
    section + .row
        @include margin-top($global-spacing)